@font-face {
    font-family: "Font1";
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto 0 auto;
    padding: 30px 20px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
}

body {

    background: linear-gradient(135deg, #cceeff, #99ddff, #66ccff, #33bbff, #00aaff) no-repeat fixed;
    font-family: Font1;
}