:root {
    --color1: #ffcc00;
    --color2: ;
}

@font-face {
    font-family: "Font1";
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

h1,
h2 {
    text-align: center;


}

* {
    font-family: Font1, sans-serif;
}

body {
    background: linear-gradient(135deg, #cceeff, #99ddff, #66ccff, #33bbff, #00aaff) no-repeat fixed;
}

body::selection {
    background-color: var(--color1);
    color: black;
}

header {
    animation: header 1s ease-in-out;
    user-select: none;
}

@keyframes header {
    0% {
        transform: scale(0);
        /* Départ de l'animation */
    }

    100% {
        transform: scale(1);
        /* Fin de l'animation */
    }
}

header li {
    display: inline-block;
    margin: 0 100px;
    align-items: center;
    text-decoration: none;

}

header li:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

header a {
    font-size: 1.5rem;
    text-transform: none;
    text-decoration: none;
    align-items: center;
}

header a:hover {
    color: var(--color1);
    transition: 0.5s;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 150px;
    /* ajuste la valeur selon l'espacement désiré */
    padding: 0;
    list-style: none;
    margin-top: 100px;
    margin-left: 100px;
}

.devis {
    text-align: center;
    border: 1px solid black;
    width: calc(100% - 1000px);
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.888);
    box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);
    animation: header 1.5s ease-in-out;
}

.devis button {
    background-color: red;
    color: white;
    height: 50px;
    border-radius: 10px;
    border: none;
    user-select: none;
}

.devis button:hover {
    cursor: pointer;
    transition: 1s;
    box-shadow: 0px 0px 40px 0px rgb(78, 205, 240);
    transform: scale(1.3);
    margin-top: 10px;
}

.devis button:active {
    box-shadow: 0px 0px 20px 0px rgb(78, 205, 240);
    transform: scale(1);
}